@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-family: Space;
  background: rgb(77, 46, 97);
  background: linear-gradient(
    90deg,
    rgba(77, 46, 97, 1) 0%,
    rgba(124, 3, 3, 1) 50%,
    rgba(98, 60, 5, 1) 100%
  );

  color: white;
}
